.c1{
    text-align: center;
}


.c3{
    text-decoration: none;
}

.c4{
    padding-top: 5px;
    padding-bottom: 5px;
    color: black;
    font-size: 16px;
}

.c5{
    color: #755139FF;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
}

.div{
    border-radius: 5px;
    background-color: #ADEFD1FF;
    padding-top: 20px;
    padding-bottom: 20px;
    width:40%;
    height: 30%;
}

label{
    color: #00203FFF;
}

.c4:hover{
    background-color: yellow
}

.c5:hover{
    background-color: #F2EDD7FF;
}